<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Airedellin</title>
    <meta property="og:description" content="visualizer and predict for pm2.5 of sensors canairio" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@4.5.2/dist/maplibre-gl.css" />
    <script src="https://unpkg.com/maplibre-gl@4.5.2/dist/maplibre-gl.js"></script>
    <script src="https://unpkg.com/deck.gl@8.9.33/dist.min.js"></script>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="icon" href="https://raw.githubusercontent.com/Semillero-Inteligencia-Artificial-EAFIT/airedellin/main/docs/pictures/logo.png"/>
  </head>
  <body>
    <div id="map"></div>
    <button id="toggle-button">Hide Heatmap</button>
    <script>
  const MAPTILER_KEY = '{{ token }}';
  const url = 'https://maps.clockworkmicro.com/streets/v1/style?x-api-key=';
  const apiKey = 'Ok1IyUgxKLobSODw7NcS';

  let overlay;
  let heatmapLayerAdded = false;
  const map = new maplibregl.Map({
    container: 'map',
    style: `https://api.maptiler.com/maps/aquarelle/style.json?key=${MAPTILER_KEY}`,
    center:[-76.5216354177,3.4267147468433],
    zoom: 13.5,
    pitch: 45,
    bearing: -17.6,
    antialias: true,
  });
  map.addControl(new maplibregl.NavigationControl(), 'top-right');

  const sampleData = {
    type: 'FeatureCollection',
    name: 'Airedellin',
    crs: { type: 'name', properties: { name: 'urn:ogc:def:crs:OGC:1.3:CRS84' } },
    features: {{ data|tojson|safe }},
  };

  function initializeOverlay() {
    const colorPalette = [
      [153, 255, 153],  // Pastel Green
      [255, 255, 153],  // Pastel Yellow
      [255, 204, 153],  // Pastel Orange
      [255, 153, 153],  // Pastel Red
      [204, 153, 204],  // Pastel Purple
      [153, 153, 153]   // Pastel Gray (softened Black)
    ];

    const scatterplotLayer = new deck.ScatterplotLayer({
      id: 'scatterplotLayer',
      data: sampleData.features,
      pickable: true,
      opacity: 0.8,
      stroked: true,
      filled: true,
      radiusScale: 6,
      radiusMinPixels: 20,
      radiusMaxPixels: 100,
      lineWidthMinPixels: 5,
      getPosition: (d) => d.geometry.coordinates,
      getFillColor: (d) => {
        const pm25 = d.properties.pm25;

        if (pm25 > 150) {
          return colorPalette[5]; // Black
        } else if (pm25 > 100) {
          return colorPalette[4]; // Purple
        } else if (pm25 > 55) {
          return colorPalette[3]; // Red
        } else if (pm25 > 35) {
          return colorPalette[2]; // Orange
        } else if (pm25 > 12) {
          return colorPalette[1]; // Yellow
        } else {
          return colorPalette[0]; // Green
        }
      },

      getLineColor: (d) =>[10, 10, 10,100],
      //[175, 0, 32],
      onClick: (info) => {
        const { coordinate, object } = info;
        const description = `
          <div class="p-3 border rounded bg-light shadow-sm">
            <p><strong>Name:</strong> 
              <a href="/sensor${object.properties.name}" class="text-primary text-decoration-none" style="transition: color 0.2s;">
                ${object.properties.name}
              </a> 
              <span class="text-muted">Click to see measures</span>
            </p>
            <p><strong>Mean of pm25:</strong> 
              <a href="http://influxdb.canair.io:8000/dashboards" class="text-success text-decoration-none" style="transition: color 0.2s;">
                ${object.properties.pm25}
              </a> 
              <span class="text-muted">Click to see the original dashboard</span>
            </p>
          </div>
        `;
        new maplibregl.Popup()
          .setLngLat(coordinate)
          .setHTML(description)
          .addTo(map);
      },
    });
    const heatmapLayer = new deck.HeatmapLayer({
      id: 'heatmapLayer',
      data: sampleData.features,
      opacity: 0.8,
      radiusPixels: 50,
      getPosition: (d) => d.geometry.coordinates,
      getWeight: d => d.properties.pm25,
     
      getFillColor: (d) => {
        const pm25 = d.properties.pm25;

        if (pm25 > 150) {
          return colorPalette[5]; // Black
        } else if (pm25 > 100) {
          return colorPalette[4]; // Purple
        } else if (pm25 > 55) {
          return colorPalette[3]; // Red
        } else if (pm25 > 35) {
          return colorPalette[2]; // Orange
        } else if (pm25 > 12) {
          return colorPalette[1]; // Yellow
        } else {
          return colorPalette[0]; // Green
        }
      },
     
    });
    overlay = new deck.MapboxOverlay({ layers: [scatterplotLayer] });
    map.addControl(overlay);
  }
  let show = true;

  map.on('load', () => {
  initializeOverlay();

  // Insert the layer beneath any symbol layer.
  const layers = map.getStyle().layers;
  let labelLayerId;
  for (let i = 0; i < layers.length; i++) {
    if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
      labelLayerId = layers[i].id;
      break;
    }
  }
  map.addSource('openmaptiles', {
    url: `https://api.maptiler.com/tiles/v3/tiles.json?key=${MAPTILER_KEY}`,
    type: 'vector',
  });
  map.addLayer({
    'id': '3d-buildings',
    'source': 'openmaptiles',
    'source-layer': 'building',
    'type': 'fill-extrusion',
    'minzoom': 15,
    'filter': ['!=', ['get', 'hide_3d'], true],
    'paint': {
      'fill-extrusion-color': [
        'interpolate',
        ['linear'],
        ['get', 'render_height'], 0, 'lightgray', 200, 'royalblue', 400, 'lightblue'
      ],
      'fill-extrusion-height': [
        'interpolate',
        ['linear'],
        ['zoom'],
        15, 0,
        16, ['get', 'render_height']
      ],
      'fill-extrusion-base': ['case',
        ['>=', ['get', 'zoom'], 16],
        ['get', 'render_min_height'], 0
      ]
    }
  }, labelLayerId);
  map.addSource('heatmapSource', {
    'type': 'geojson',
    'data': sampleData
  });

  map.addLayer({
    'id': 'heatmapLayer',
    'type': 'heatmap',
    'source': 'heatmapSource',
    'paint': {
      // Heatmap weight based on the PM2.5 value
      'heatmap-weight': [
        'interpolate',
        ['linear'],
        ['get', 'pm25'],
        0, 0,
        12, 0.2,
        35, 0.4,
        55, 0.6,
        100, 0.8,
        150, 1
      ],
      // Heatmap intensity by zoom level
      'heatmap-intensity': [
        'interpolate',
        ['linear'],
        ['zoom'],
        0, 1,
        9, 3
      ],
      // Heatmap color based on the PM2.5 value
      'heatmap-color': [
        'interpolate',
        ['linear'],
        ['heatmap-density'],
        0, 'rgba(0, 255, 0, 0)',
        0.2, 'rgb(255, 255, 0)',
        0.4, 'rgb(255, 165, 0)',
        0.6, 'rgb(255, 0, 0)',
        0.8, 'rgb(128, 0, 128)',
        1, 'rgb(0, 0, 0)'
      ],
      // Adjust the heatmap radius by zoom level
      'heatmap-radius': [
        'interpolate',
        ['linear'],
        ['zoom'],
        0, 50,
        9, 100
      ],
      // Transition from heatmap to circle layer by zoom level
      'heatmap-opacity': [
        'interpolate',
        ['linear'],
        ['zoom'],
        7, 0.5,
        9, 0.5
      ]
    }
  });  

  const toggleButton = document.querySelector('#toggle-button');
  let heatmapVisible = false;

  toggleButton.addEventListener('click', () => {
      if (heatmapVisible) {
        map.setLayoutProperty('heatmapLayer', 'visibility', 'none');
        toggleButton.textContent = 'Show Heatmap';
      } else {
        map.setLayoutProperty('heatmapLayer', 'visibility', 'visible');
        toggleButton.textContent = 'Hide Heatmap';
      }
      heatmapVisible = !heatmapVisible;
    });
  });
</script>
  </body>
</html>