<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:description" content="visualizer and predict for pm2.5 of sensors canairio" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/h3-js@3.7.1"></script>
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" />
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
    <script src="https://unpkg.com/deck.gl@8.9.33/dist.min.js"></script>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet" />
    <link rel="icon" href="https://raw.githubusercontent.com/Semillero-Inteligencia-Artificial-EAFIT/airedellin/main/docs/pictures/logo.png"/>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      html, body, #map {
        height: 100%;
      }
      #toggle-button {
        position: fixed;
        top: 20px;
        left: 20px;
        background-color: rgb(130, 25, 191);
        color: #f0ead6;
        font-size: 1.2rem;
        min-width: 70px;
        border-radius: 5px;
        border: none;
        padding: 5px 10px;
        transition: 0.3s;
      }
      #toggle-button:hover {
        scale: 1.1;
        box-shadow: 0 0 4px 4px gray;
      }
      .maplibregl-popup {
        z-index: 2;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <button id="toggle-button">Hide</button>
    <script>
      let overlay;
      let show = true;
      let popup = new maplibregl.Popup({ closeButton: true, closeOnClick: false });
  const MAPTILER_KEY = '{{ token }}';

      const map = new maplibregl.Map({
        container: 'map',
        style: `https://api.maptiler.com/maps/aquarelle/style.json?key=${MAPTILER_KEY}`,
        center: [-122.4, 37.74],
        zoom: 13.5,
        pitch: 45,
        bearing: -17.6,
        antialias: true,
      });

      map.addControl(new maplibregl.NavigationControl(), 'top-right');

      function initializeH3ClusterLayer() {
        const colorPalette = [
          [153, 255, 153],  // Pastel Green
          [255, 255, 153],  // Pastel Yellow
          [255, 204, 153],  // Pastel Orange
          [255, 153, 153],  // Pastel Red
          [204, 153, 204],  // Pastel Purple
          [153, 153, 153]   // Pastel Gray (softened Black)
        ];

        const layer = new deck.H3ClusterLayer({
          id: 'H3ClusterLayer',
          data: 'https://raw.githubusercontent.com/visgl/deck.gl-data/master/website/sf.h3clusters.json',
          stroked: true,
          getHexagons: d => d.hexIds,
          getFillColor: d => {
            const pm25 = d.mean;
            if (pm25 > 150) {
              return colorPalette[5]; // Black
            } else if (pm25 > 100) {
              return colorPalette[4]; // Purple
            } else if (pm25 > 55) {
              return colorPalette[3]; // Red
            } else if (pm25 > 35) {
              return colorPalette[2]; // Orange
            } else if (pm25 > 12) {
              return colorPalette[1]; // Yellow
            } else {
              return colorPalette[0]; // Green
            }
          },
          getLineColor: [255, 255, 255],
          lineWidthMinPixels: 2,
          pickable: true,
          onClick: ({object, x, y}) => {
            if (object) {
              const coords = map.unproject([x, y]);
              const description = `Density: ${object.mean} PM2.5`;

              // Set popup content and position it on the map
              popup.setLngLat(coords)
                .setHTML(`<h4>Air Quality Data</h4><p>${description}</p>`)
                .addTo(map);
            }
          }
        });

        overlay = new deck.MapboxOverlay({
          layers: [layer],
          getTooltip: ({object}) => object && `Density: ${object.mean}`
        });

        map.addControl(overlay);
      }

      map.on('load', () => {
        initializeH3ClusterLayer();

        const toggleButton = document.getElementById('toggle-button');
        toggleButton.addEventListener('click', () => {
          if (show) {
            map.removeControl(overlay);
            toggleButton.innerText = 'Show';
            show = false;
          } else {
            initializeH3ClusterLayer();
            toggleButton.innerText = 'Hide';
            show = true;
          }
        });
      });
    </script>
  </body>
</html>
