{% extends 'base.html' %}

{% block content %}
        <!-- Donation Section -->
        <div class="donation-section frame">
            <h2>Support Our Air Quality Monitoring</h2>
            <p>Your donations help us keep this <b>sensor</b> running. Thank you for your support!</p>
            <div class="row">
                <div class="col-md-8">
                    <h5>{{ sensor_name }} Donation ID: {{ donations.account }} at {{ donations.entity }}</h5>
                    <p>we are planing to use <a href="https://nostr.com/">nostr</a> because is a not trust needed alterative </p>
                    <p> THIS IS A PROOF OF CONCEPT NOW (NOT IS REAL🏗️)</p>
                </div>
                <div class="col-md-4">
                    <div class="donation-frame text-center">
                        <h5>Scan to Donate</h5>
                        {% if donations.image == "https://via.placeholder.com/150" %}
                            <img src="https://via.placeholder.com/150" alt="QR Code" height="150" width="150">
                        {% else %}
                            <img src="/static/{{ donations.image }}" alt="QR Code" height="150" width="150">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Dashboard Section -->
        <div class="dashboard-section frame">
            <h2><b>Live</b> Air Quality Dashboard</h2>
            <div class="chart-frame">
                <h4>Data Chart</h4>
                <canvas id="dataChart" width="100%" height="70%"></canvas>
            </div>
            <div class="mt-3">
                <div>
                    <center>
                        
                            <button id="zoomIn" class="btn btn-primary">Zoom In</button>
                            <button id="zoomOut" class="btn btn-primary">Zoom Out</button>
                            <button id="resetZoom" class="btn btn-secondary">Reset Zoom</button>
                            <form method="post" id="rangeForm" >
                                <button id="resetZoom" class="btn btn-primary">Select by 1 day</button>
                                <input type="hidden" name="rangetime" id="selectedRange" value="24h"> <!-- Default value -->
                                <button type="button" class="btn btn-primary" data-range="1w">Select by 1 week</button>
                                <button type="button" class="btn btn-primary" data-range="1m">Select by 1 month</button>
                                <button type="button" class="btn btn-primary" data-range="1y">Select by 6 months</button>
                            </form>
                    </center>
                </div>

            </div>
            <script>
            function getColor(pm25) {
                if (pm25 > 150) {
                    return colorPalette[5]; // Black
                } else if (pm25 > 100) {
                    return colorPalette[4]; // Purple
                } else if (pm25 > 55) {
                    return colorPalette[3]; // Red
                } else if (pm25 > 35) {
                    return colorPalette[2]; // Orange
                } else if (pm25 > 12) {
                    return colorPalette[1]; // Yellow
                } else {
                    return colorPalette[0]; // Green
                }
            }
            const dataArray = {{ data }};  // Replace with your data source
            const numLabels = dataArray.length;

            //const colorPalette = ['#00e400', '#ffff00', '#ff7e00', '#ff0000', '#8f3f97', '#7e0023'];
            const colorPalette = ['#77ff77', '#ffffcc', '#ffb380', '#ff8080', '#cc99cc', '#cc6677'];
            // Generate labels based on the length of the data
            const labels = Array.from({ length: numLabels }, (_, index) => index);
            //change labels by date
            const ctx = document.getElementById('dataChart').getContext('2d');
            const dataChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'PM2.5 μg/m³',
                        data: {{ data }},
                        borderColor: function(context) {
                            const index = context.dataIndex;
                            const value = context.dataset.data[index];
                            return getColor(value);
                        },
                        backgroundColor:  function(context) {
                            const index = context.dataIndex;
                            const value = context.dataset.data[index];
                            return getColor(value);
                        },
                        borderWidth: 2,
                        pointRadius: 4,
                        pointHoverRadius: 6,
                        segment: {
                            borderColor: 'rgba(240, 240, 240, 0.9)',
                            
                        }
                    }]
                },
                options: {
                    scales: {
                        x: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Measurements (30s)'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'PM2.5 μg/m³'
                            }
                        }
                    },
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'xy',
                            },
                            zoom: {
                                wheel: {
                                    enabled: true,
                                },
                                pinch: {
                                    enabled: true
                                },
                                mode: 'xy',
                            }
                        }
                    },
                    responsive: true,
                }
            });
            document.querySelectorAll('button[data-range]').forEach(button => {
                button.addEventListener('click', () => {
                    const range = button.getAttribute('data-range');
                    document.getElementById('selectedRange').value = range;

                    // Submit the form
                    document.getElementById('rangeForm').submit();
                });
            });

            // Zoom control buttons
            document.getElementById('zoomIn').addEventListener('click', () => {
                dataChart.zoom(1.1);
            });

            document.getElementById('zoomOut').addEventListener('click', () => {
                dataChart.zoom(0.9);
            });

            document.getElementById('resetZoom').addEventListener('click', () => {
                dataChart.resetZoom();
            });

            </script>


        </div>

        <!-- ML Algorithms Section -->
        <div class="ml-section frame">
            <h2>Machine Learning Predictions</h2>
            <p>Analyze and predict future air quality trends using our machine learning models.</p>
            <a href="/sensor{{ sensor_name }}/predictions"> <button class="btn btn-primary btn-lg">Run ML Prediction</button></a>
        </div>

        <!-- Statistics Section -->
        <div class="ml-section frame">
            <h2>Statistics (In progres 🏗️🚧)</h2>
            <p>Analyze air quality trends using our statistics methods.</p>
            <a href="/sensor{{ sensor_name }}/statistics"> <button class="btn btn-primary btn-lg">Run Statistics</button></a>
        </div>

{% endblock %}
